body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-effects {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.weather-particles {
    position: absolute;
    opacity: 0.1;
    animation: float 15s infinite linear;
}
@keyframes float {
    0%{transform: translate(0) rotate(0deg);}
    50% {transform: translateY(-20px) rotate(180deg);}
    100% {transform: translateY(0) rotate(360deg);}
}
.weatherForm {
    margin: 20px;
}
.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #3333334d;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    max-width: 90%;
}
button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: #e6957a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #cc7a61;
}
.card {
    background: linear-gradient(180deg, #ffecd2, #fcb69f);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #010101;
    max-width: 90%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 0;
    margin-bottom: 25px;
}
p {
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
}
.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.windDisplay {
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}